services:
  db:
    image: todo-db
    build:
      context: ./db
      dockerfile: Dockerfile
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: todo
    ports:
        - '5432:5432'

  adminer:
    image: adminer
    restart: always
    ports:
      - 9080:8080

  mcp-toolbox-todo:
    build:
      context: ./mcp
      dockerfile: Dockerfile
    restart: always
    ports:
      - '5000:5000'
