services:

  db:
    image: todo-db
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: todo
    ports:
        - '5432:5432'

  adminer:
    image: adminer
    restart: always
    ports:
      - 9080:8080
